
@include media-breakpoint-down(sm) {

    .section-nav-title {
        display: inline;
        text-align: center;
    }
}


.nav_image {
    max-height: 100px;
}

@include media-breakpoint-down(md) {
    .nav_image {
        max-height: 50px;
    }
    .navbar-brand {
        font-size: 1.1rem;
    }
}

.modNav-top {

    .module-nav {
        max-height: $spacer * 12;
    }

    .module-nav-item {
        text-align: center;
    }

}

.modNav-bottom {
    padding-top: $spacer;
    .module-nav {
        padding-top: $spacer;
        padding-bottom: $spacer;
    }
    .module-nav-item {
        padding: 0;
        line-height: 1.2;
        text-align: center;
    }
}

@include media-breakpoint-down(sm) {
    .modNav-top {
        display: none;
    }
}

@include media-breakpoint-up(md) {
    .modNav-bottom {
        display: none;
    }
}


.module-nav-item {
    line-height: 1;
    font-size: $font-size-base * 0.7;

    a {
        color: $gray-200;
    }

    a.active {
        color: $brand-accent;
    }
}


.active-week {
    // text-align: center;
    color: $white;
}
.active-due-date {
    // text-align: center;
    color: $white;
}

@include media-breakpoint-down(lg) {
    .due-date {
        font-size: $font-size-base * 0.85;
    }
}

@include media-breakpoint-down(sm) {
    .due-date {
        flex-direction: column;
    }
}

// .navbar.navbar-default {
// 	margin-bottom: 0;
// }
//
// .p2pu-logo {
// 	z-index: 200;
// 	position: absolute;
// 	background-color: $brand-dark;
// 	// background-color: $brand-accent;
// 	height: 101px;
// 	width: 130px;
// 	right: 0;
// 	top: 0;
// 	// left: 0px;
//
// 	img {
// 		// width: 75px;
// 		// min-height: 100%;
// 		// max-height: 200%;
// 		height: 90px;
// 		margin: 0;
// 		margin-top: -10px;
// 		margin-left: -25px;
// 		border-style: none;
// 		padding: 0;
// 	}
// }
//
// @media (max-width: $screen-sm - 1) {
// 	.p2pu-logo {
// 		height: 50px;
// 		left: 0px;
// 		img {
// 			height: 50px;
// 			width: 40px;
// 			margin-top: -10px;
// 		}
// 	}
// }
//
// // .navbar-nav {
// // 	margin-left: 100px;
// // 	margin-right: 100px;
// // }
//
// .navbar {
// 	padding-right: 100px;
// 	// padding-right: 100px;
// }
//
// .navbar .container-fluid {
// 	margin-left: 20%;
// 	max-width: 100%;
// 	// min-height: 129px;
// }
//
//
// @media (max-width: $screen-sm - 1) {
// 	.navbar {
// 		padding-right: 0px;
// 		.container-fluid {
// 			min-height: 0px;
// 		}
// 	}
//
// }
